<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [ ]:
#string

a = 'motor'
if a == "mobil" :
  print('sesuai')
else:
  print('tidak sesuai')

#boolean
a=True
if a == True:
  print('betul')
else:
  print('salah')

#integer
a = 90
if a > 70:
  print("lulus")

tidak sesuai
betul
lulus



---



---

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [ ]:
#and
a = 24
b = 170
if a > 23 and b > 165:
  print("lulus")
else :
  print('tidak lulus')

#or
mobil = 10
motor = 12
if mobil >= 10 or motor <= 5:
  print("untung")
else :
  print('rugi')

#not

lulus
untung



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [2]:
#code here
grade = "A"
price = 3000

if grade == "A" and price > 100000 :
  print('High')
elif grade == "A" and price > 50000 :
  print('medium')
elif grade == "A" and price < 50000 :
  print('low')

low



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [5]:
# Buat fungsi
def cek_nilai(nilai):
    if nilai % 2 != 0:
        return 'Aneh'
    elif 2 <= nilai <= 5:
        return 'Tidak Aneh'
    elif 6 <= nilai <= 20:
        return 'Aneh'
    elif nilai > 20:
        return 'Tidak Aneh'

print(cek_nilai(7))
print(cek_nilai(2))
print(cek_nilai(16))
print(cek_nilai(30))

Aneh
Tidak Aneh
Aneh
Tidak Aneh



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop



jawaban perbedaan


perbedaannya terletak pada  cara kerja dan penggunaannya: while loop digunakan pada kondisi dimana jumlah iterasi tidak diketahui sebelumnya dan bergantung pada kondisi yang terus diperiksa sebelum setiap iterasi. Sebasementara, for loop digunakan saat jumlah iterasi sudah diketahui atau dapat ditentukan sebelumnya, seperti iterasi melalui elemen dalam koleksi (misal dalam contoh di bawah menggunakan range).

In [23]:
# jawaban contoh
# Contoh penggunaan while loop untuk mencetak angka 1 sampai 5
print('while loop')
count = 1
while count <= 5:
    print(f"{count}")
    count += 1

print ('for loop')
# Contoh penggunaan for loop untuk mencetak angka 1 sampai 5
for num in range(1, 6):
    print(f"{num}")

while loop
1
2
3
4
5
for loop
1
2
3
4
5



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [18]:
a = 10
print('jika a = 10')
def fungsi_while(angka):
    while angka != 0:
        print(f"{angka}")
        if angka > 0:
            angka -= 1
        else:
            angka += 1
fungsi_while(a)

a = -10
print('jika a = -10')
def fungsi_while(angka):
    while angka != 0:
        print(f"{angka}")
        if angka > 0:
            angka -= 1
        else:
            angka += 1
fungsi_while(a)

jika a = 10
10
9
8
7
6
5
4
3
2
1
jika a = -10
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [21]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

siswa_lulus = [siswa["nama"] for siswa in data_siswa if siswa["nilai"] >= 80]

print(siswa_lulus)

['Budi', 'Rudi', 'Leo']

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [ ]:
obj_list = [1, 16, 11, 10, 5]


for index, value in enumerate(obj_list):
    result = value * index
    print(f"{result}")

0
16
22
30
20

Expected Output:

0

16

22

30

20



---



---